.App {
  font-family: sans-serif;
  text-align: center;
}

.todoContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


/* .gx-login-container {
  position: relative;
  height: 100%;
  padding-bottom: 30px;
  -webkit-flex: 1;
  flex: 1 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.gx-login-content {
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
}

.gx-text-center {
  text-align: center!important;
}

.gx-login-header {
  margin-bottom: 30px;
}

.ant-avatar-image {
  background: transparent;
}

.ant-avatar {
  color: #545454;
  color: #fff;
  background: #ccc;
  border-radius: 50%;
}

.gx-size-120 {
  height: 120px!important;
  width: 120px!important;
  line-height: 120px!important;
}

.gx-mb-4, .gx-my-4 {
  margin-bottom: 1.5rem!important;
}

.gx-login-form {
  max-width: 350px;
}

.gx-form-row0 .ant-row {
  margin-left: 0!important;
  margin-right: 0!important;
}

.gx-login-content .ant-form-item-control-wrapper {
  width: 100%;
}

.ant-form-item-control {
  position: relative;
  line-height: 40px;
  zoom: 1;
}

.gx-login-content .ant-form-item-children {
  display: block;
} */