@import "~antd/dist/antd.css";

.app {
  background-color: #ffffff;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.box {
  max-width: 600px;
  margin: auto;
  padding: auto;
}
